.vLK3gc {
  padding-top: 6px;
}

.H3TZoe {
  padding-left: 0px;
  vertical-align: "top";
}

.eKjLze .g {
  margin-bottom: 0;
}

a:hover h3.LC20lb {
  text-decoration: underline;
}

.M8OgIe .dG2XIf .fm06If .LC20lb,
.n6SJS h3.LC20lb {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.LC20lb {
  display: inline-block;
  line-height: 1.3;
  margin-bottom: 3px;
  font-size: 22px;
}

.DKV0Md {
  padding-top: 9px;
  padding-top: 10px;
}

.DKV0Md {
  margin-top: 18px;
}

.VjDLd .TieM1d .tjvcx,
.IVvPP .tjvcx,
.kno-kp .tjvcx,
.VjDLd .kp-wholepage-osrp .tjvcx,
#rhs .ss6qqb .tjvcx,
#rhs .trNcde .tjvcx {
  display: inline-block;
  height: 19px;
  overflow-y: hidden;
}

.TbwUpd.ojE3Fb {
  display: flex;
  padding: 0;
  align-items: center;
  padding-bottom: 0;
}

.TbwUpd.ojE3Fb a.fl {
  padding-top: 0;
  font-size: 12px;
  line-height: 18px;
}

.GvPZzd {
  font-size: 12px;
  line-height: 18px;
}

.VuuXrf {
  color: #202124;
  font-size: 14px;
  display: block;
  line-height: 20px;
  white-space: nowrap;
}

.H9lube {
  background-color: #f1f3f4;
  border: 1px solid #ecedef;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  margin-right: 12px;
  vertical-align: middle;
}

.eqA2re.NjwKYd {
  margin-right: 0;
}

.Vwoesf:not(.oRVWZ) {
  display: inline-block;
}

.Vwoesf {
  vertical-align: middle;
}

.XNo5Ab.XNo5Ab {
  display: block;
}

.B6fmyf {
  position: absolute;
  top: 0;
  height: 0;
  visibility: hidden;
  white-space: nowrap;
}

.B6fmyf.Mg1HEd {
  height: auto;
}

.csDOgf {
  display: inline;
  visibility: visible;
}

.csDOgf.BCF2pd.ezY6nb,
.csDOgf.L48a4c {
  height: 18px;
}

.csDOgf {
  margin-left: 8px;
  position: relative;
}

.csDOgf.L48a4c {
  margin-top: 16px;
}

.byrV5b {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.sBJG1d {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.kDmHO {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.lR4vec {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.xTEyc {
  -webkit-box-align: start;
  -webkit-align-items: start;
  align-items: start;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.OjFzvd {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
}

.YIPhrb {
  -webkit-box-align: start;
  -webkit-align-items: start;
  align-items: start;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.BToiNc {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  justify-content: start;
}

.E4bmEc .Va021 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}

.E4bmEc .Y76LGf {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 calc(50% - 4px);
  flex: 1 1 calc(50% - 4px);
}

sentinel {
}

.IjabWd {
  margin-left: 2px;
}

.xTFaxe {
  top: 2px;
}

.xTFaxe {
  color: #4d5156;
}

.D6lY4c {
  height: 22px;
  width: 22px;
  position: absolute;
  border-radius: 11px;
}

.iTPLzd {
  cursor: pointer;
  top: 0;
  line-height: 16px;
}

.iTPLzd {
  left: 0;
  width: 28px;
}

.iTPLzd {
  z-index: 1;
}

sentinel {
}

.rNSxBe {
  padding-bottom: 20px;
}

sentinel {
}

.eY4mx {
  padding-left: 12px;
}

sentinel {
}

.lUn2nc {
  padding-right: 12px;
}

sentinel {
}

.W8l4ac {
  padding-top: 0;
  margin-bottom: 0;
}

.yDYNvb.lyLwlc {
  color: #4d5156;
}

.lEBKkf {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t55VCb {
  color: #ea4335;
}

.jmjoTe {
  margin-left: 18px;
}

.mslg td {
  padding-right: 6px;
  padding-top: 4px;
}

.dmenKe td {
  padding-bottom: 4px;
  padding-top: 12px;
}

.c9EJob td {
  padding-bottom: 4px;
}

.mslg td {
  vertical-align: top;
}

.mslg .l {
  font-size: 20px;
}

.mslg .l {
}

.s6JM6d .mslg .usJj9c {
  border: 1px solid transparent;
  border-radius: 2px;
  border-radius: 2px;
  margin-top: 0px;
  padding: 3px 0 3px 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  width: 568px;
}

.usJj9c {
  display: inline-block;
  position: relative;
  width: 100%;
}

.usJj9c .zz3gNc {
  overflow: hidden;
  color: #4d5156;
  overflow: ellipsis;
  width: 568px;
}

.M8OgIe .mslg.dmenKe td,
.M8OgIe .mslg.c9EJob td {
  padding-bottom: 20px;
}

#res .mslg h3 {
  display: block;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rsGxI.Ww4FFb,
.Ww4FFb {
  background-color: #fff;
  border-size: 0px;
  border-radius: 0px;
  box-shadow: 0px;
}

.Ww4FFb .mnr-c,
.mnr-c .Ww4FFb,
.Ww4FFb .Ww4FFb {
  box-shadow: none;
  margin-bottom: 0px;
}

.vt6azd {
  margin: 0px 0px 8px;
  margin: 0px 0px 30px;
}

.tF2Cxc.asEBEc {
  margin-bottom: 30px;
}

.N54PNb {
  position: relative;
}

.cvP2Ce {
  contain: layout paint;
  overflow: hidden;
}

.kb0PBd {
  display: block;
  flex: 0 0 auto;
}

.ob9lvb {
  color: #4d5156;
}

.dyjrff {
  color: #4d5156;
}

.z3HNkc {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23dadce0' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  background-repeat: repeat-x;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.z3HNkc span {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23fbbc04' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  background-repeat: repeat-x;
  display: block;
}

.aNmOgc .z3HNkc span {
  background-color: currentcolor;
  background-image: unset;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-size: 14px 11.4px;
  mask-size: 14px 11.4px;
}

.z3HNkc.YMYLUd span {
  background-color: currentcolor;
  background-image: unset;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-size: 14px 11.4px;
  mask-size: 14px 11.4px;
}

.z3HNkc,
.z3HNkc span {
  background-size: 14px 11.4px;
  height: 11.4px;
  width: 68px;
}

html,
body,
h1,
input,
select {
  font-family: arial, sans-serif;
}

body,
h1 {
  font-size: 14px;
}

h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
}

body {
  margin: 0;
  background: #fff;
  color: #202124;
}

a {
  color: #1a0dab;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

a:visited {
  color: #681da8;
}

a:hover {
  text-decoration: underline;
}

a:hover h3 {
  text-decoration: underline;
}

a.a-no-hover-decoration:hover,
a.a-no-hover-decoration:hover h3 {
  text-decoration: none;
}

cite,
cite a:link,
cite a:visited {
  color: #4d5156;
  font-style: normal;
}

button {
  margin: 0;
}

ol li {
  list-style: none;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
}

input {
  font-size: 14px;
}

@-webkit-keyframes qs-timer {
  0% {
  }
}

html:not(.zAoYTe) [tabindex] {
  outline: 0;
}

html:not(.zAoYTe) [href],
html:not(.zAoYTe) button,
html:not(.zAoYTe) iframe,
html:not(.zAoYTe) input,
html:not(.zAoYTe) select,
html:not(.zAoYTe) textarea {
  outline: 0;
}

html:not(.zAoYTe) .F0azHf {
  outline: 0;
}

.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.z1asCe svg {
  display: block;
  height: 100%;
  width: 100%;
}

:root {
}

.ynAwRc {
  color: #1a0dab;
}

a:visited .ynAwRc,
a:visited.ynAwRc {
  color: #681da8;
}

.JIFdL {
  color: #1a0dab;
}

.zIamNc {
  color: #202124;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.NUnG9d {
  color: #202124;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.kqEaA {
  color: #70757a;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.vJtJab {
  color: #1a0dab;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.hWgrdb {
  font-style: italic;
}

.Z5bgrc {
  font-family: arial, sans-serif-medium, sans-serif;
  font-weight: 500;
}

.l97dzf {
  font-weight: 400;
}

.N8MDs {
  font-family: arial, sans-serif-light, sans-serif;
}

.z8gr9e {
  color: #4d5156;
}

.KHW3x {
  color: #fff;
}

.ZYHQ7e {
  color: #70757a;
}

.x2sBq {
  color: #d93025;
}

.tGXccd {
  color: #188038;
}

.OvuNCb {
  color: #e37400;
}

.yNSCTe {
  color: #202124;
}

.XEI2lf {
  color: #fff;
}

.u2fAP {
  color: #3c4043;
}

.Q7PwXb {
  text-decoration: none;
}

.NyOyWb {
  text-overflow: clip;
  overflow: hidden;
}

.U2GSdd {
  height: calc(16px * 2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
}

.GnYZ5c {
  height: calc(16px * 3);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  white-space: normal;
}

.potOpf {
  max-height: calc(24px * 2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
}

.n4krj {
  height: calc(22px * 2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: normal;
}

.NnEaBd {
  text-align: right;
}

.xLQxIf {
  text-transform: capitalize;
}

.uKdaQe {
  text-transform: lowercase;
}

.MUmB9 {
  text-transform: none;
}

.iUh30 {
  font-size: 12px;
  line-height: 1.3;
}

.f {
  color: #70757a;
  line-height: 1.58;
}

.g {
  font-family: arial, sans-serif;
  font-size: 14px;
}

.g {
  line-height: 1.58;
  text-align: left;
}

.g {
  width: 600px;
  margin-top: 0;
  margin-bottom: 30px;
}

.iUh30 {
  padding-top: 1px;
}

.vk_arc {
  border-top: 1px solid #dadce0;
  cursor: pointer;
  height: 0;
  margin-bottom: -19px;
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
}

.vk_ard {
  top: -11px;
}

.vk_aru {
  bottom: -6px;
}

.vk_ard,
.vk_aru {
  background-color: #ebebeb;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 6px;
  width: 64px;
}

.vk_ard:after,
.vk_ard:before,
.vk_aru:after,
.vk_aru:before {
  content: " ";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  border-left: 32px solid rgba(255, 255, 255, 0);
  border-right: 32px solid rgba(255, 255, 255, 0);
}

.vk_ard:before {
  border-top: 16px solid #ebebeb;
  top: 6px;
}

.vk_aru:before {
  border-bottom: 16px solid #ebebeb;
  bottom: 6px;
}

.vk_ard:after {
  top: 0;
  border-top: 16px solid #fff;
}

.vk_aru:after {
  bottom: 0;
  border-bottom: 16px solid #fff;
}

.jC7Epd.vk_ard,
.jC7Epd.vk_aru {
  background-color: #202124;
}

.jC7Epd.vk_ard:before {
  border-top-color: #202124;
}

.jC7Epd.vk_aru:before {
  border-bottom-color: #202124;
}

.xpdclps,
.xpdxpnd {
  overflow: hidden;
}

.xpdclps,
.xpdxpnd {
  -webkit-transition: max-height 0.3s;
}

.xpdxpnd,
.xpdopen .xpdclps,
.xpdopen .xpdxpnd.xpdnoxpnd {
  max-height: 0;
}

.xpdopen .xpdxpnd {
  max-height: none;
}

.xpdopen .xpdbox .xpdxpnd,
.xpdopen .xpdbox.xpdopen .xpdclps {
  max-height: 0;
}

.xpdopen .xpdbox.xpdopen .xpdxpnd,
.xpdopen .xpdbox .xpdclps {
  max-height: none;
}

.xpdclose .k5nfEc {
  display: none;
}

.fp-i .SzDvzc {
  display: none;
}

.fp-f {
  bottom: 0;
  height: auto;
  left: 0;
  position: fixed !important;
  right: 0;
  top: 0;
  width: auto;
  z-index: 127;
}

.fp-h:not(.fp-nh):not(.goog-modalpopup-bg):not(.goog-modalpopup) {
  display: none !important;
}

.fp-zh.fp-h:not(.fp-nh):not(.goog-modalpopup-bg):not(.goog-modalpopup) {
  display: block !important;
  height: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-i .fp-c {
  display: block;
  min-height: 100vh;
}

li.fp-c {
  list-style: none;
}

.fp-w {
  box-sizing: border-box;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1217px;
  right: 0;
}

.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tF2Cxc {
  position: relative;
}

.Jb0Zif .BDNLRc {
  margin: 16px 16px -11px;
}

.RUXr2d {
  display: inline;
}

.MTB56 {
  margin-right: 12px;
  vertical-align: middle;
}

.Pthbuf {
  display: flex;
  align-items: center;
}

.m164Nd {
  vertical-align: middle;
  display: inline-block;
}

.qpGQpf {
  clear: both;
  padding-top: 6px;
}

.tcPEUc .MTB56 {
  display: none;
}

.aCOpRe {
  line-height: 1.58;
  word-wrap: break-word;
}

.aCOpRe sup {
  line-height: 0.9;
}

.yuRUbf {
  font-weight: normal;
  font-size: small;
  line-height: 1.2;
}

.IsZvec {
  max-width: 48em;
  color: #4d5156;
  line-height: 1.58;
}

.uo4vr {
  color: #70757a;
  line-height: 1.58;
}

.IjZ7ze {
  display: inline-block;
  color: #70757a;
  font-size: 12px;
  line-height: 1.34;
  white-space: nowrap;
}

.FyYA1e {
  margin: 5px 0;
}

.P1usbc {
  display: table;
  white-space: nowrap;
  margin: 5px 0;
  line-height: 1.58;
  color: #70757a;
}

.G1Rrjc {
  display: table-cell;
  padding-left: 15px;
  vertical-align: baseline;
}

.i4vd5e {
  display: table-cell;
}

.VNLkW {
  display: table-row;
  vertical-align: top;
}

.h7mcFf {
  color: #70757a;
}

.k6DEPe {
  display: table-row;
  width: 100%;
}

.TXwUJf {
  color: #70757a;
}

.PcHvNb {
  position: absolute;
}

.N3nEGc {
  background-color: #fff;
  float: left;
  margin-top: 4px;
}

.wEQKyf.N3nEGc {
  float: right;
  margin: 7px 0 5px 12px;
}

.wEQKyf.Ik9SRc.N3nEGc {
  margin: 2px 0 0 0;
}

.Ixi80c {
  margin-top: 0;
}

.i0PvJb {
  background-color: #000;
}

.mWTy7c {
  border-top-left-radius: 2px;
  bottom: 0;
  font-size: 11px;
  padding: 1px 3px;
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.rGhul {
  display: block;
  position: relative;
  overflow: hidden;
}

.rGhul:focus {
  outline-style: solid;
  outline-width: 2px;
}

.vYWbhc {
  margin-top: 0;
}

.TbwUpd a.fl {
  font-size: 12px;
}

.TQc1id .qLRx3b {
  font-size: 14px;
  line-height: 1.58;
}

.TbwUpd {
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 1px;
  -webkit-text-size-adjust: none;
}

.NJjxre {
  position: absolute;
  left: 0;
  top: 0;
}

.M8OgIe .VWCdhc.Mjve0e .TbwUpd {
  width: max-content;
}

#rhs {
  margin-left: var(--rhs-margin);
  flex: 0 auto;
  width: var(--rhs-width);
  position: relative;
  padding-bottom: 15px;
  transition: opacity 0.3s;
}

#rhs .scrt.VjDLd,
#rhs table.VjDLd {
  border: 0;
}

#rhs .VjDLd {
  border: 1px solid #f8f9fa;
  padding-left: 17px;
  padding-right: 16px;
  position: relative;
  box-sizing: border-box;
}

.s6JM6d .SwlyWb {
  display: none;
}

#rhs.rhstc4 .VjDLd {
  width: var(--rhs-width);
}

#rhs.rhstc5 .VjDLd {
  width: 457px;
}

.rhstc4 .nmrhhd {
  background: none !important;
  display: none !important;
}

.rhstc5 .SwlyWb {
  background: none !important;
  display: none !important;
}

.GLcBOb {
  color: #70757a;
  font-size: 14px;
  font-family: Google Sans, arial, sans-serif;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  z-index: 126;
}

.IC1Ck {
  position: relative;
  white-space: nowrap;
  align-items: baseline;
  display: flex;
  -ms-flex-pack: justify;
  float: left;
  justify-content: space-between;
  min-width: calc(var(--center-abs-margin) + 652px);
}

.MUFPAc {
  display: inline;
  margin-left: calc(var(--center-abs-margin) + -11px);
}

.MbEPDb {
  margin-left: -4px;
  vertical-align: text-bottom;
}

.hdtb-mitem .GOE98c,
.hdtb-mitem a,
.hdtb-mitem.hdtb-msel,
.t2vtad {
  color: #5f6368;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  padding: 8px 16px 8px 16px;
  padding: 17px 12px 11px 10px;
}

.hdtb-mitem {
  height: 16px;
  line-height: 16px;
  margin: 0 1px;
  display: inline-block;
}

.hdtb-mitem a:active {
  color: #1a73e8;
}

.hdtb-mitem.hdtb-msel {
  color: #1a73e8;
}

.cCvmNd .hdtb-mitem.hdtb-msel {
  border-bottom: none;
}

.hdtb-mitem.hdtb-msel:hover {
  cursor: pointer;
}

.hdtb-mitem.hdtb-msel:active {
  background: none;
}

.hdtb-mitem a {
  color: #5f6368;
}

.t2vtad {
  border: 1px solid transparent;
  text-align: center;
  border-radius: 2px;
  line-height: 19px;
  cursor: pointer;
  margin-left: -1px;
  padding: 4px 11px;
  margin-right: -11px;
}

.t2vtad:not(.hdtb-tl-sel):hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0s;
  background-color: #f8f9fa;
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f8f9fa),
    to(#f8f9fa)
  );
  border: 1px solid #dadce0;
  color: #202124;
}

.t2vtad:active,
.t2vtad:not(.hdtb-tl-sel):hover:active {
  background-color: #f8f9fa;
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f8f9fa),
    to(#f8f9fa)
  );
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.YTDezd {
  background: #1a73e8;
  height: 3px;
  margin-top: 11px;
}

.bmaJhd {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.v7W49e {
  margin-top: 6px;
}

[dir="ltr"],
[dir="rtl"] {
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
}

bdo[dir="ltr"],
bdo[dir="rtl"] {
  unicode-bidi: bidi-override;
  unicode-bidi: -webkit-isolate-override;
  unicode-bidi: isolate-override;
}

.GyAeWb {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: calc(
    var(--center-abs-margin) + var(--center-width) + var(--rhs-margin) +
      var(--rhs-width) + var(--lhs-refinements-width)
  );
}

.srp {
  --center-abs-margin: 180px;
  --center-width: 652px;
  --rhs-margin: 76px;
  --rhs-width: 372px;
  --lhs-refinements-width: 0px;
  position: relative;
  min-height: 100vh;
}

@media (min-width: 1475px) and (max-width: 1675px) {
  .srp {
    --center-abs-margin: calc(25vw + -188.75px);
  }
}

@media (min-width: 1675px) {
  .srp {
    --center-abs-margin: 230px;
  }
}

@media (min-width: 1124px) and (max-width: 1300px) {
  .srp {
    --center-abs-margin: calc((100vw - 1068px) / 2);
  }
}

@media (max-width: 1124px) {
  .srp {
    --center-abs-margin: 28px;
  }
}

.eqAnXb {
  font-size: medium;
  font-weight: normal;
  line-height: 1.2;
}

.main {
  min-width: calc(
    var(--center-abs-margin) + var(--center-width) + var(--rhs-margin) +
      var(--rhs-width) + var(--lhs-refinements-width)
  );
  width: 100%;
}

.s6JM6d {
  position: relative;
  width: var(--center-width);
  flex: 0 auto;
  margin-left: var(--center-abs-margin);
}

.KpqFHb {
  --center-width: 1100px;
  --rhs-margin: 0px;
  --rhs-width: 0px;
}

.e9EfHf {
  font-family: arial, sans-serif;
  clear: both;
  margin-left: 0;
  padding-top: 20px;
}

.dodTBe {
  height: 65px;
}

.appbar {
  background: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
  margin-left: var(--center-abs-margin);
}
