@media (prefers-color-scheme: dark) {
  .LC20lb.MBeuO.DKV0Md {
    color: #8ab4f8;
  }

  .xTFaxe {
    color: #9e9e9e;
  }

  .tjvcx.GvPZzd.cHaqb {
    color: #bdc1c6;
    font-style: normal;
  }

  .VuuXrf {
    color: #dadce0;
  }

  .H9lube {
    background-color: #fff;
    border: 1px solid #3c4043;
  }
}
